#channel-list
  %ul#secondary-menu.clearfix
    %li= link_to "# of watchers", root_path
    %li= link_to "tastemakers", root_path
    %li= link_to "favorites", root_path
  %ul.channels
    - index = 0
    - @channels.each do |c|
      - if c.has_airings?
        %li.channel{:class => "color#{index % 2 }"}
          %span.count= "+#{c.subscriptions.count}"
          = link_to "#{c.title}", c
          - if logged_in? && current_user.owns?(c)
            .star mine
          - else
            .star= link_to c.favorited?(current_user) ? "yes" : "no", subscribe_channel_path(c)
        - index += 1
#viewer
  %iframe{:width => "100%", :height => "100%", :frameborder => 0, :src => chromeless_channel_path(@channels.first) }