.full-col
  = link_to 'new channel', new_channel_path
  %ul.channels
    - index = 0
    - @channels.each do |c|
      %li.channel
        %span.count= c.subscriptions.count
        = link_to "+#{c.title}", c, :class => "color#{index % 3}"
      - index += 1
          