#channel-manage
  #main-content.channel-list.list
    %ul#secondary-menu.clearfix
      %li{:class => @sort.nil? ? "active" : "" }= link_to "Following", root_path
      %li{:class => @sort == "watchers" ? "active" : "" }= link_to "Popular", root_path(:sort => "watchers")

    - if @sort.nil? and ! logged_in?
      %ul.channels
        %li.channel.clearfix{:id => "channel_#{@mosey_channel.id.to_s}", "data-channel-id" => @mosey_channel.id.to_s}
          .coverart= link_to image_tag(@mosey_channel.cover_art_url(:thumb_list)), channel_path(@mosey_channel)
          .content
            .title
              = link_to "#{@mosey_channel.title}", channel_path(@mosey_channel)
              %span.user= @mosey_channel.creator.username if @mosey_channel.creator
            .description= @mosey_channel.description
            %span.count= "+#{@mosey_channel.subscriptions.count}"

      #register
        %h2 Join mosey.tv to watch the best video channels online. It’s absolutely free.
        = form_for(@user, :url => register_path) do |f|
          - if @user.errors.any?
            #error_explanation
              %ul
                - @user.errors.full_messages.each do |msg|
                  %li= msg
          .field
            = f.label :username
            %br/
            = f.text_field :username
          .field
            = f.label :email
            %br/
            = f.text_field :email
          .field
            = f.label :password
            %br/
            = f.password_field :password
          .actions
            = f.submit "Sign Up", :class => "button primary"

    - else
      %ul.channels
        - index = 0
        - @channels.each do |c|
          - if c.has_airings?
            %li.channel.clearfix{:class => (logged_in? and c.favorited?(current_user)) ? "favorited": "", :id => "channel_#{c.id.to_s}", "data-channel-id" => c.id.to_s}
              .coverart= link_to image_tag(c.cover_art_url(:thumb_list)), channel_path(c)
              .content
                .title
                  = link_to "#{c.title}", channel_path(c)
                  %span.user= c.creator.username if c.creator
                .description= c.description
                %span.count= "+#{c.subscriptions.count}"
                - if logged_in?
                  .actions
                    = link_to subscribe_channel_path(c) do
                      .action.star.subscribe
                    - if current_user.owns?(c)
                      = link_to manage_channel_videos_path(c) do
                        .action.edit
            - index += 1
  #viewer
    %iframe#viewer-iframe{:width => "100%", :height => "100%", :frameborder => 0}
