#channel-manage
  #main-content.channel-list.list
    %ul#secondary-menu.clearfix
      %li= link_to "My Channels", root_path
      %li= link_to "# of Watchers", root_path(:sort => "watchers")
      %li= link_to "Tastemakers", root_path(:sort => "tastemakers")
    
    - if @sort.nil? and ! logged_in?
      %ul.channels
        %li.channel.clearfix{:class => "color1"}
          .coverart= link_to image_tag(@mosey_channel.cover_art_url(:thumb_list)), channel_path(@mosey_channel)
          .content
            .title
              = link_to "#{@mosey_channel.title}", channel_path(@mosey_channel)
              %span.user= @mosey_channel.creator.username if @mosey_channel.creator
            .description= @mosey_channel.description
            %span.count= "+#{@mosey_channel.subscriptions.count}"
            - if logged_in?
              - if current_user.owns?(@mosey_channel)
                .star= link_to "edit", manage_channel_videos_path(@mosey_channel)
              - else
                .star= link_to c.favorited?(current_user) ? "yes" : "no", subscribe_channel_path(@mosey_channel)
      #register
        = form_for(@user, :url => register_path) do |f|
          - if @user.errors.any?
            #error_explanation
              %ul
                - @user.errors.full_messages.each do |msg|
                  %li= msg
          .field
            = f.label :username
            %br/
            = f.text_field :username
          .field
            = f.label :email
            %br/
            = f.text_field :email
          .field
            = f.label :password
            %br/
            = f.password_field :password
          .actions
            = f.submit :register, :class => "btn primary"
    - else
      %ul.channels
        - if @sort == "favorites" and logged_in?          
          - if current_user.social_channel?(:facebook)
            %li.channel.facebook
              = link_to channel_path(current_user.facebook_channel) do
                My Facebook Channel
          - else
            = link_to ""
          - if current_user.social_channel?(:twitter)
            %li.channel.twitter
              = link_to channel_path(current_user.facebook_channel) do
                My Twitter Channel
          - else
            = link_to ""
          
    
        - index = 0
        - @channels.each do |c|
          - if c.has_airings?
            %li.channel.clearfix{:class => "color#{index % 2 }"}
              .coverart= link_to image_tag(c.cover_art_url(:thumb_list)), channel_path(c)
              .content
                .title
                  = link_to "#{c.title}", channel_path(c)
                  %span.user= c.creator.username if c.creator
                .description= c.description
                %span.count= "+#{c.subscriptions.count}"
                - if logged_in?
                  - if current_user.owns?(c)
                    .star= link_to "edit", manage_channel_videos_path(c)
                  - else
                    .star= link_to c.favorited?(current_user) ? "yes" : "no", subscribe_channel_path(c)
            - index += 1
  #viewer
    - if @channels
      %iframe{:width => "100%", :height => "100%", :frameborder => 0, :src => chromeless_channel_path(@channels.first) }