#player
  #youtube-player.player
    .mask
  #vimeo-player.player
    .mask
  /= sanitize @current.body, :tags => %w(embed iframe p), :attributes => %w(src width height frameborder)
#main-menu.clearfix
  %h1= link_to "mosey", root_path
  - if logged_in?
    %nav.menu
      %ul.channels
        - index = 0
        - @channel_list.each do |c|
          - if c.has_airings?
            %li.channel
              = link_to "#{c.title}", c, :class => "color#{index % 3}"
              %span.nowplaying= "Now Playing: #{c.now_playing.title}"
            - index += 1
      / %nav.menu
      /   %ul
      /     %li= link_to 'rankings', explore_path
      /     - if logged_in?
      /       %li= link_to 'logout', logout_path 
      /     - else
      /       %li= link_to 'login', login_path
      /       %li= link_to 'join', register_path
#actions
  - if @channel && !@channel.new_record?
    = render :partial => "channels/menu"
#info.clearfix
  .title
    %strong Now Playing
    %span#now-playing= @current.title
:javascript
  var App = {};
  var video = {
    'id': '#{@current.id}',
    'source_name': '#{@current.source_name}',
    'source_id': '#{@current.source_id}'
  };
  App.playerManager = new PlayerManager(video, '#{@channel.id}');
  