#player
  #youtube-player.player
    .mask
  #vimeo-player.player
    
    .mask
    #vimeo-dummy
  /= sanitize @current.body, :tags => %w(embed iframe p), :attributes => %w(src width height frameborder)
#main-menu.clearfix
  %h1#mosey.clearfix= link_to "mosey", root_path
  %nav.menu
    #new-channel.main-action= link_to "Build a Channel", new_manage_channel_path
    #channels-container
      - if logged_in?
        %h2 My Channels
        %ul.channels
          - @channel_list.each do |c|
            - if c.has_airings?
              %li.channel
                = link_to "#{c.title}", channel_path(c)
          %li= link_to "find more", root_path
        %ul.channels
          - current_user.channels.publik.each do |c|
            - if c.has_airings?
              %li.channel
                = link_to "#{c.title}", channel_path(c)
      - else
        %h2 Top Channels
        %ul.channels
          - @top.each do |c|
            - if c.has_airings?
              %li.channel
                = link_to "#{c.title}", channel_path(c)
    #now-playing
      #coverart= image_tag(@channel.cover_art_url(:thumb_player))
      #channel-info
        #channel-title.title= truncate(@channel.title, :length => 20, :omission => '...')
        #video-title.title= truncate(@current.title, :length => 18, :omission => '...')
#actions.clearfix
  - if @channel && !@channel.new_record?
    .mark +
    %ul.buttons
      - if logged_in?
        - if current_user.owns?(@channel)
          %li= link_to 'edit', manage_channel_videos_path(@channel)
        - else
          - if @channel.subscribed_by?(current_user)
            %li
              = link_to unsubscribe_channel_path(@channel) do
                unfollow
          - else
            %li= link_to 'follow', subscribe_channel_path(@channel)
        %li.reair-actions 
          .reair-button reair
          %ul.reair-list
            - current_user.channels.each do |c|
              %li.channel.reair{"data-channel-id" => c.id.to_s}
                = link_to "#{c.title}", channel_path(c)
      - else
        %li= link_to 'follow', subscribe_channel_path(@channel)
  
:javascript
  $(document).ready(function() {
    var cookie_video_id = window.App.cookie.get('channel-' + '#{@channel.id}');
    console.log(cookie_video_id)
    $.extend(window.App,{
      playerManager: new App.PlayerManager(cookie_video_id == "" ? '#{@current.id}' : cookie_video_id, '#{@channel.id}')
    })
  });
  
  