#player
  #youtube-player.player
    .mask
  #vimeo-player.player
    .mask
  /= sanitize @current.body, :tags => %w(embed iframe p), :attributes => %w(src width height frameborder)
#main-menu.clearfix
  %h1= link_to "mosey", root_path
  - if logged_in?
    %nav.menu.channels-container
      %h2 Channel List
      %ul.channels
        - @channel_list.each do |c|
          - if c.has_airings?
            %li.channel
              = link_to "#{c.title}", c
      %h2 My Channels
      %ul.channels
        - if logged_in?
          - current_user.channels.each do |c|
            - if c.has_airings?
              %li.channel
                = link_to "#{c.title}", c
        
      / %nav.menu
      /   %ul
      /     %li= link_to 'rankings', explore_path
      /     - if logged_in?
      /       %li= link_to 'logout', logout_path 
      /     - else
      /       %li= link_to 'login', login_path
      /       %li= link_to 'join', register_path

#info.clearfix
  - if @channel && !@channel.new_record?
    = render :partial => "channels/menu"
  .title
    %strong#channel= @channel.title
    %span#now-playing= @current.title
:javascript
  $(document).ready(function() {
    var cookie_video_id = window.App.cookie.get('channel-' + '#{@channel.id}');
    $.extend(window.App,{
      playerManager: new PlayerManager(cookie_video_id == "" ? '#{@current.id}' : cookie_video_id, '#{@channel.id}')
    })
  });
  
  