#player
  #youtube-player.player
    .mask
  #vimeo-player.player
    .mask
  /= sanitize @current.body, :tags => %w(embed iframe p), :attributes => %w(src width height frameborder)
#main-menu.clearfix
  %h1.clearfix= link_to "mosey", root_path
  
  %nav.menu.channels-container
    #new-channel.main-action= link_to "build a channel", new_manage_channel_path
    - if logged_in?
      %h2 My Channels
      %ul.channels
        - @channel_list.each do |c|
          - if c.has_airings?
            %li.channel
              = link_to "#{c.title}", c
        %li= link_to "find more", root_path
      %ul.channels
        - current_user.channels.each do |c|
          - if c.has_airings?
            %li.channel
              = link_to "#{c.title}", c
    - else
      %h2 Top Channels
      %ul.channels
        - @top.each do |c|
          - if c.has_airings?
            %li.channel
              = link_to "#{c.title}", c
    #now-playing
      #coverart= image_tag(@channel.cover_art_url(:thumb_player))
      #channel-info
        #channel-title.title= truncate(@channel.title, :length => 20, :omission => '...')
        #video-title.title= truncate(@current.title, :length => 18, :omission => '...')
#actions.clearfix
  - if @channel && !@channel.new_record?
    .mark +
    .buttons
      - if logged_in?
        - if current_user.owns?(@channel)
          = link_to 'edit', manage_channel_videos_path(@channel)
        - else
          - if @channel.subscribed_by?(current_user)
            = link_to unsubscribe_channel_path(@channel) do
              &#9996;
          - else
            = link_to '+', subscribe_channel_path(@channel)
      - else
        = link_to '+', subscribe_channel_path(@channel)
  
:javascript
  $(document).ready(function() {
    var cookie_video_id = window.App.cookie.get('channel-' + '#{@channel.id}');
    $.extend(window.App,{
      playerManager: new PlayerManager(cookie_video_id == "" ? '#{@current.id}' : cookie_video_id, '#{@channel.id}')
    })
  });
  
  