- content_for :meta do
  = render :partial => "layouts/meta_video", :locals => { :og_type => "video.other",
    :og_title => @first_airing.title,
    :og_url => start_video_path(@first_airing.channel.slug, v: @first_airing.id),
    :og_description => @first_airing.description,
    :og_image => @first_airing.video.video_image_url(:thumb_list)}

#alert{style: "display:none"}
- if @first_airing
  %img{style: "position: absolute; top: -9999px", src: @first_airing.video.video_image_url }
#channel-modal.modal
#notes-modal.modal
#sharing-modal.modal
#restream-modal.modal
#add-modal.modal
#login-modal.modal
#invite-modal.modal

#player
  #youtube-player.player
    .mask
  #vimeo-player.player
    .mask
    #vimeo-dummy

#remote-control-pane.clearfix
#controls-pane
#current-pane-target-zone
  .mark= image_tag @channel.cover_art_url(:thumb_list), width: 24, height: 24
  #current-pane
    #current-video
    #current-channel
    #current-sharing.clearfix

:javascript
  $(document).ready(function() {
    var channel = new App.Models.Channel(#{@channel.to_json})
    var explore = #{@explore_channels.as_json.to_json};
    var current_user = #{logged_in? ? current_user.as_json.merge({channel_list: @channel_list.as_json, channels: @my_channels.as_json, loggedIn: true}).to_json : "null"}

    var bootstrap = {
      channel: channel,
      current_user: current_user,
      explore: explore
    }

    #{"bootstrap.first_airing_id = " + @first_airing_id if @first_airing_id}

    App.initialize(bootstrap);
  });
