#alert{style: "display:none"}

#player
  #youtube-player.player
    .mask
  #vimeo-player.player
    .mask
    #vimeo-dummy

#remote-control-pane.clearfix
  %h1#mosey.clearfix= link_to "mosey", root_path
  %nav.menu
    #top-banner.clearfix
      - if logged_in?
        .button.add.primary Add
      - else
        = link_to "Login", login_path, class: "button login"
    -##mute.on
    %ul#channel-menu.clearfix
      %li{:class => @sort.nil? ? "active" : "" }= link_to "Home", root_path
      %li{:class => @sort == "watchers" ? "active" : "" }= link_to "Explore", root_path(:sort => "watchers")
    #channels-container
      %ul.channels
        - @channel_list.each do |c|
          - if c.has_airings?
            %li.channel.clearfix
              = link_to channel_path(c) do
                .icon= image_tag(c.cover_art_url(:thumb_list), width: 48)
                .title
                  = c.title
                  %span.username= c.creator.username if c.creator.present?
                .description= c.description
                .actions
                  - if current_user.owns?(c)
                  - else
                    = link_to subscribe_channel_path(c) do
                      .action.star.subscribe Follow

#current-pane-target-zone
  .mark +
  #current-pane
    #current-video
      #actions
        - if @channel && !@channel.new_record?
          %ul.buttons.clearfix
            - if logged_in?
              %li.reair-actions
                .reair-button.button restream
                %ul.reair-list
                  - current_user.channels.publik.each do |c|
                    %li.channel.reair{"data-channel-id" => c.id.to_s}
                      = link_to "#{c.title}", channel_path(c)
              %li
                .like.like-button.button like
        #currently-playing.clearfix
          #video-info
            #video-channel
              %span#video-channel-title= @current.channel.title
              - if @current.parent.present?
                %span.label via
                %span#video-parent
                  = link_to @current.parent.channel.title, @current.parent.channel
            #video-title.title
              = truncate(@current.title, :length => 200, :omission => '...')
          .meta
            #video-notes= pluralize @current.note_count, "notes"
    #current-channel
      #channel-info
        #coverart= image_tag(@channel.cover_art_url(:thumb_player))
        #channel-title.title= @channel.title
        #channel-description.description= @channel.description
      #channel-follow.clearfix
        #channel-actions
          - if logged_in?
            - if current_user.owns?(@channel)
              = link_to 'edit', manage_channel_videos_path(@channel), class: "button"
            - else
              - if @channel.subscribed_by?(current_user)
                = link_to unsubscribe_channel_path(@channel), class: "button" do
                  unfollow
              - else
                = link_to 'follow', subscribe_channel_path(@channel), class: "button"
          - else
            = link_to 'follow', subscribe_channel_path(@channel), class: "button"
        #channel-watchers= pluralize @channel.subscriptions.count, "follower"
      #channel-owner
        = @channel.creator.username
        %span.label Curator


:javascript
  $(document).ready(function() {
    var cookie_video_id = window.App.cookie.get('channel-' + '#{@channel.id}');
    $.extend(window.App,{
      playerManager: new App.PlayerManager(cookie_video_id == "" ? '#{@current.video_id}' : cookie_video_id, '#{@channel.id}')
    })
  });
