<p>
  <%= link_to "/#{@comment.user.username}", slug_url(@comment.user.primary_channel.slug) %>
  commented on <strong><%= @airing.title %></strong>:
<p>
  "<%= @comment.body %>"
</p>

<p>
  <%= link_to "Reply", manage_airing_url(@airing)%>
</p>

<p><a href="<%= root_url %>">moziy.com</a></p>
