<p>
  <strong><%= @sender.username %></strong> has invited you to join a stream called /<%= @channel.slug %> on moziy.
  moziy is a fun new way to share videos with your friends.
</p>

<p>
  check out <%= @sender.username %>'s invite here:
  <%= join_channel_url(@token) %>
</p>

<p>
  <%= link_to "Check it Out", join_channel_url(@token) %>
</p>

<p><a href="<%= join_channel_url(@token) %>">moziy.com</a></p>
