<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @user.username %>,</p>
    
    <p><%= @their_name %> just reChanneled your video <%= @video_title %> from <%= @your_channel.title %> to <%= link_to @their_channel.title, channel_url(@their_channel) %>. </p>

    <p>Keep posting the goodness.</p>

    <p><a href="http://mosey.tv">mosey.tv</a></p>
  </body>
</html>