#video-manage
  = render :partial => 'manage/channels/channel_menu'
  - if @activities.blank?
    %h1.empty
      - if @channel.airings.any?
        When someone likes or restreams your videos or
        %br
        follows this stream, you'll see it here.
      - else
        = link_to manage_channel_path(@channel) do
          = "Add videos to /#{@channel.slug} for activity to start showing up"
  - else
    %ul.activities
      - for activity in @activities
        = render partial: "manage/common/activities/#{activity.event_type}",
          locals: {activity: activity}

