#video-manage
  = render :partial => 'manage/channels/channel_menu'
  - if @activities.blank?
    .empty
      - if @channel.airings.any?
        %h2 When you someone likes or restreams your videos, you'll see them here.
      - else
        = link_to manage_channel_path(@channel) do
          = "Add videos to /#{@channel.slug}"
  - else
    %ul.activities
      - for activity in @activities
        = render partial: "manage/common/activities/#{activity.event_type}",
          locals: {activity: activity}

