#main-content
  = form_for @user, url: manage_settings_path do |f|
    %h2 Settings
    .field
      = f.label :username
      = f.text_field :username

    .field
      = f.label :email
      = f.text_field :email

    .actions
      = f.submit :update, class: "button primary"
