- content_for :sidebar do
  %ul#secondary-menu.sidebar-menu.clearfix
    %li.channel-item.menu-item
      = link_to manage_settings_path do
        Account Settings
  %ul#secondary-menu.sidebar-menu.clearfix
    - current_user.channels.each do |channel|
      %li.channel-item.menu-item
        = link_to edit_manage_channel_path(channel) do
          = image_tag channel.cover_art_url(:thumb_favicon), width: 16, height: 16
          = "/#{channel.slug}"
#main-content
  = form_for @user, url: manage_settings_path do |f|
    %h2 Settings
    .field
      = f.label :username
      = f.text_field :username
    .field
      = f.label :email
      = f.text_field :email
    .fields
      %h2 Email Settings
      %p
        We'll send you a notification for each of the actions listed below. Uncheck the boxes and click save
        if you'd like to disable emails.

      - f.object.preferences.each do |key, value|
        .field
          = label_tag key
          = check_box_tag "user[preferences][#{key}]", "1", value.to_i == 1
    .actions
      = f.submit :update, class: "button primary"
