#secondary-title.clearfix
  = image_tag @channel.cover_art_url(:thumb_list), class: "cover-art"
  = link_to @channel.title, manage_channel_videos_path(@channel)
  .followers= pluralize @channel.subscriptions.count, "follower"
%ul#secondary-menu.clearfix
  %li
    = link_to 'Videos', manage_channel_path(@channel)
  %li
    = link_to 'Activity', manage_channel_activities_path(@channel)
  %li
    = link_to 'Watch Stream', "/#{@channel.slug}"
  %li{:class => current_page?(edit_manage_channel_path(@channel)) ? "active" : "" }
    = link_to 'Stream Settings', edit_manage_channel_path(@channel)
  %li{:class => current_page?(archived_manage_channel_videos_path(@channel)) ? "active" : "" }
    = link_to 'Trash', archived_manage_channel_videos_path(@channel)
