#cover-art.clearfix
  = image_tag @channel.cover_art_url(:thumb_player),
    class: "cover-art",
    width: 200,
    height: 200

  - unless @channel.cover_art.present?
    = link_to "add image", edit_manage_channel_path(@channel), class: "add-image-alert alert"


%ul#secondary-menu.sidebar-menu.clearfix
  %li{:class => current_page?(manage_channel_path(@channel)) ? "active" : "" }
    = link_to manage_channel_path(@channel), class: "home" do
      = @channel.slug
    = link_to slug_url(@channel.slug), class: "slug" do
      = slug_url(@channel.slug)
  %li{:class => current_page?(manage_channel_followers_path(@channel)) ? "active" : "" }
    = link_to manage_channel_followers_path(@channel) do
      %span.count= @channel.subscriptions.count
      = "Followers"
  %li{:class => current_page?(manage_channel_path(@channel)) ? "active" : "" }
    = link_to manage_channel_videos_path(@channel), :class => "primary" do
      %span.count= @channel.airings.count
      = "Videos"
  - unless current_user.primary_channel? @channel
    %li{:class => current_page?(manage_channel_memberships_path(@channel)) ? "active" : "" }
      = link_to manage_channel_memberships_path(@channel) do
        %span.count= @channel.parties.count
        Members
  - if can? :edit, @channel
    %li{:class => current_page?(archived_manage_channel_videos_path(@channel)) ? "active" : "" }
      = link_to 'Stream Settings', edit_manage_channel_path(@channel), class: "secondary"

-#- unless current_user.primary_channel? @channel
  %ul#members.clearfix
    - for member in @channel.parties
      %li.member
        = link_to slug_path(member.primary_channel.slug) do
          = image_tag member.primary_channel.cover_art_url(:thumb_player), :width => 48, :height => 48,
            "data-toggle" => "tooltip", :title =>  "/#{member.username}"
    %li.member.add
      = link_to "Add More People +", manage_channel_memberships_path(@channel),
        :class => "add-collaborator"
  :javascript
    $(".member img").tooltip()
