= form_for ['manage', @channel] do |f|
  = render "common/errors", :object => f.object
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = image_tag(journal.cover_art_url(:thumb_large)) if journal.cover_art?
    %br
    = f.label :cover_art
    = f.file_field :cover_art
    = f.hidden_field :cover_art_cache
  .actions
    = f.submit
    - unless f.object.new_record?
      = link_to 'cancel', manage_channel_videos_path(@channel)
      = link_to 'delete', manage_channel_videos_path(@channel), :method => :delete, :confirm => "Are you sure?"