= form_for ['manage', @channel], :html => { :multipart => true} do |f|
  = render "common/errors", :object => f.object
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :description
    %br
    = f.text_area :description
  .field
    = image_tag(@channel.cover_art_url(:thumb_player)) if @channel.cover_art?
    %br
    = f.label :cover_art
    = f.file_field :cover_art
    = f.hidden_field :cover_art_cache
  .actions
    = f.submit
    - unless f.object.new_record?
      = link_to 'cancel', manage_channel_videos_path(@channel)
      = link_to 'delete', manage_channel_videos_path(@channel), :method => :delete, :confirm => "Are you sure?"
  .social-push
    %h2 Post to Friends
    = current_user.facebook? ? "fb connected" : (link_to 'Post to Facebook', auth_at_provider_path(:provider => :facebook)) 
    = current_user.twitter? ? "t connected" : (link_to 'Post to Twitter', auth_at_provider_path(:provider => :twitter)) 