#channel-manage
  #main-content.channel-list.list
    #secondary-title.clearfix
      .title Manage Channels
    %ul.channels
      - @channels.each do |c|
        %li.channel.clearfix{:id => "channel_#{c.id.to_s}", "data-channel-id" => c.id.to_s}
          = link_to "#{c.title}", [:manage, (c)]
          %span.count= "+#{c.subscriptions.count}"
