= form_for(@user, :url => register_path) do |f|
  - if @user.errors.any? or flash.key? :alert
    %ul#error-explanation
      - @user.errors.full_messages.each do |msg|
        %li= msg
      - flash.each do |key,msg|
        %li= msg
  - if @token.present?
    = hidden_field_tag :token, @token
  - else
    .field
      = label_tag "Registration Code"
      = text_field_tag :code
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field.slug-field
    = f.label :username, "moziy.com/"
    = f.text_field :username, placeholder: "username"
  .actions
    = f.submit :join, :class => "button primary "

