= form_for ['manage', @channel, Video.new], html: {id: "add-video"} do |f|
  = label_tag :links, 'Enter the youtube/vimeo url of the video to add to /#{@channel.slug}'
  = text_area_tag :links, "", placeholder: "Enter a youtube/vimeo url of the video to add to /#{@channel.slug}"
  = f.submit "Add Video", class: "primary button"
