= form_for ['manage', @channel, Video.new], html: {id: "add-video", class: "horizontal-form"} do |f|
  = label_tag :links, 'Enter the youtube/vimeo url of the video to add to /#{@channel.slug}'
  = text_area_tag :links, "", placeholder: "Enter a youtube/vimeo url of the video to add to /#{@channel.slug}"
  %i.loader
  = f.submit "Add Video", class: "primary button"

:javascript
  $(document).ready(function() {
    App.videoForm = new App.Views.AddVideo({el: "#add-video"})

    $("form#add-video").submit(function() {
      mixpanel.track("Add:Video")
    })

  })
