%li.video.item.clearfix{:id => "video_#{a.video_id.to_s}", class: a.state}
  = image_tag a.video.video_image_url(:thumb_list), class: :image, width: 60, height: 60
  .title= link_to a.video.title, edit_manage_channel_video_path(@channel, a)
  .meta
    = link_to pluralize(a.history.count, "attachments"), edit_manage_channel_video_path(@channel, a),
      class: "notes"
    - if a.user != current_user
      = link_to "by /#{a.user.primary_channel.slug}", slug_path(a.user.primary_channel.slug), class: "poster"
    - if a.parent.present?
      = link_to "from /#{a.parent.channel.slug}", slug_path(a.parent.channel.slug), class: "parent"
    = link_to start_video_url(a.channel.slug, v: a.id), start_video_path(a.channel.slug, v: a.id),
      class: "permalink"
  .actions
    - if can? :archive, a
      = button_to (a.archived? ? "recover" : "delete"),
        archive_manage_channel_airing_path(@channel, a), :method => :put
