%li.video.item.clearfix{:id => "video_#{a.video_id.to_s}", class: a.state}
  = image_tag a.video.video_image_url(:thumb_list), class: :image, width: 60, height: 60
  .title= link_to a.video.title, edit_manage_channel_video_path(@channel, a)
  .meta
    %span.notes= pluralize a.history.count, "attachments"
    - if a.parent.present?
      = link_to a.parent.channel.slug, slug_path(a.parent.channel.slug), class: "parent", class: "parent", class: "parent", class: "parent"
    = link_to start_video_url(a.channel.slug, v: a.id), start_video_path(a.channel.slug, v: a.id),
      class: "permalink"
  .actions
    = button_to (a.archived? ? "recover" : "delete"),
      archive_manage_channel_airing_path(@channel, a), :method => :put
