.full-col
  = form_for ['manage', @channel, @video], :url => channel_videos_path(@channel) do |f|
    .field
      %strong Add Videos
      = label_tag :links, 'Enter a comma separated list of links'
      %br
      = text_area_tag :links
    .actions
      = f.submit "Add to Channel"
      = link_to 'cancel', @channel