{{#if unread_count}}
  <div class="unread-count">{{unread_count}}</div>
{{/if}}
<div class="icon">
  <img src="{{cover_art.thumb_list.url}}" />
</div>
<div class="text-info">
  <div class="title">
    {{title}}
    <span class="slug">{{slug}}</span>
  </div>
  <div class="description">
    {{description}}
  </div>
</div>
