<div class="icon">
  <div class="unread-count">{{sub_count}}</div>
  <img src="{{cover_art.thumb_list.url}}" />
</div>
<div class="title">
  {{title}}
  {{#creator}}
    <span class="slug">{{username}}</span>
  {{/creator}}
</div>
<div class="description">{{description}}</div>
