<div class="icon">
  {{#if unread_count}}
    <div class="unread-count">{{unread_count}}</div>
  {{/if}}
  <img src="{{cover_art.thumb_list.url}}" />
</div>
<div class="title">
  {{title}}
  {{#creator}}
    <span class="slug">{{username}}</span>
  {{/creator}}
</div>
<div class="description">{{description}}</div>
