<div id="currently-playing" class="clearfix">
  <div id="video-actions">
    <div class="buttons clearfix">
      <div class="restream-button restream video-button action-button">
        <i class="restream" />
        restream
      </div>
      <div class="like-button like video-button action-button">
        <i class="like" />
        like
      </div>
    </div>
  </div>
  <div id="video-info">
    <div id="video-title" class="title">
      {{title}}
    </div>
    <div class="meta">
      <div id="video-parent">
        <a class="channel-from">{{ channel.slug }}</a>
        {{#parent}}
          <i class="restream" />
          <a class="restream-from" href="{{url}}"> {{ title }} </a>
        {{/parent}}
      </div>
      <div id="video-notes">
        {{note_count}} notes
      </div>
    </div>
  </div>
</div>
