<div id="current-channel-info">
  <div id="current-channel-coverart">
    <img src="{{cover_art.thumb_player.url}}" />
  </div>
  <div id="current-channel-title" class="title">
    {{title}}
  </div>
  <div id="current-channel-description" class="description">
    {{description}}
  </div>
</div>
<div id="current-channel-follow" class="clearfix">
  <div id="current-channel-actions">
    <div class="follow-button button"> follow </div>
  </div>
  <div id="current-channel-followers">
    {{subscriptions_count}} followers
  </div>
</div>
<div id="current-channel-owner">
  {{user.name}}
  <div class="label">Curator</div>
</div>
