<div id="currently-playing" class="clearfix">
  <div id="video-actions">
    <div class="buttons clearfix">
      <div class="restream-button restream video-button"> restream </div>
      <div class="like-button like video-button"> like </div>
    </div>
  </div>
  <div id="video-info">
    <div id="video-title" class="title">
      {{title}}
    </div>
    <div class="meta">
      <div id="video-notes">
        {{note_count}} notes
      </div>
      <div id="video-parent">
        {{#if parent}}
          {{#parent}}
            <span class="label">restreamed from</span>
            <a class="restream-from" href="{{channel.url}}"> {{ channel.title }} </a>
          {{/parent}}
        {{else}}
          <a class="channel-from"> {{ channel.slug }} </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
