<div id="currently-playing" class="clearfix">
  <div id="video-actions">
    <div class="buttons clearfix">
      <div class="restream-button restream video-button"> restream </div>
      <div class="like-button like video-button"> like </div>
    </div>
  </div>
  <div id="now-playing">now playing</div>
  <div id="video-info">
    <div id="video-channel">
      <span id="video-channel-title"> {{channel.title}} </span>
    </div>
    <div id="video-title" class="title">
      {{title}}
    </div>
  </div>
  <div class="meta">
    <div id="video-notes">
      {{note_count}} notes
    </div>
    <div id="video-parent">
      {{#if parent}}
        {{#parent}}
          <span class="label">restreamed from</span>
          <a href="{{channel.url}}"> {{ channel.title }} </a>
        {{/parent}}
      {{else}}
        Original Poster
      {{/if}}
    </div>
  </div>
</div>
