= form_tag login_path, :method => :post do
  .field
    = label_tag :username, "Username or Email"
    %br
    = text_field_tag :username, "", :placeholder => "Username or email"
  .field
    = label_tag :password
    %br
    = password_field_tag :password, "", :placeholder => "Password"
  .actions
    = submit_tag "Login", :class => "btn primary"
    = check_box_tag :remember
    = label_tag "keep me logged in"
