= form_tag login_path, :method => :post do
  .field
    = label_tag :username, "Email"
    = text_field_tag :username, ""
  .field
    = label_tag :password
    = password_field_tag :password, ""
  .actions
    = submit_tag "Login", :class => "button primary"
    = check_box_tag :remember
    = label_tag "keep me logged in"
