- adder = activity.subject.user.primary_channel
%li.activity.add.clearfix
  .secondary
  .primary
    = link_to slug_url(adder.slug) do
      = image_tag(adder.cover_art_url(:thumb_list), class: "primary", width: 48, height: 48)
  .body
    %i.add.on
    = link_to "/#{adder.slug}", slug_url(adder.slug), class: "channel-link"
    %span.activity-action added a video
    %p
      = link_to start_video_url(activity.subject.channel.slug, v: activity.subject.id) do
        = image_tag activity.subject.video.video_image_url(:large)
      %br
      %strong= activity.subject.title
