- if activity.subject.parent.present?
  - restreamer = activity.subject.parent.channel
  %li.activity.restream.clearfix
    .secondary
      = link_to edit_manage_channel_video_path(activity.subject.channel, activity.subject) do
        = image_tag(activity.subject.video.video_image_url(:thumb_list), class: "secondary", width: 48, height: 48)
    .primary
      = link_to slug_url(restreamer.slug) do
        = image_tag(restreamer.cover_art_url(:thumb_list), class: "primary", width: 48, height: 48)
    .body
      %i.restream
      = link_to "/#{restreamer.slug}", slug_url(restreamer.slug), class: "channel-link"
      %span.activity-action
        restreamed
      = link_to activity.subject.title, edit_manage_channel_video_path(activity.subject.channel, activity.subject)
