.full-col
  = form_for [@channel, @video], :url => channel_videos_path(@channel) do |f|
    .field
      = label_tag :links
      %p Enter a comma separated list of links
      = text_area_tag :links
    .actions
      = f.submit
      = link_to 'cancel', @channel