#home-beta
  .header
    %h1= t "pages.welcome.tagline"
    %h2= t "pages.welcome.instructions"
  .channels.clearfix
    - for channel in @channels
      .channel
        = link_to slug_path(channel.slug) do
          = image_tag channel.cover_art_url(:thumb_player), width: 150, height: 150
          .meta
            .title= channel.title
            .description= channel.description
        .follow-button.button.primary.action-button
          %span.follow-text
            %i.follow
            follow
          %span.following-text following
          %span.unfollow-text unfollow
