:javascript
  (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
  e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
  mixpanel.init("#{Rails.configuration.mixpanel_key}");

- if logged_in?
  - name_tag = "#{current_user.primary_channel.slug} #{current_user.email}"

  - if flash[:new_user]
    :javascript
      mixpanel.alias(#{current_user.id})
      mixpanel.track("User:Signup")
  - else
    :javascript
      mixpanel.identify(#{current_user.id})

  :javascript
    mixpanel.name_tag("#{name_tag}")

    mixpanel.people.set({
      "$email": "#{current_user.email}",
      "$created": #{current_user.created_at.to_json},
      "$username": "#{current_user.username}",
      "channels": "#{current_user.managing_channels_slugs}",
      "likes": #{current_user.likes.count},
      "following": #{current_user.subscriptions.count}
    })

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', "#{Rails.configuration.ga_key}"]);
  _gaq.push(['_trackPageview']);

  _gaq.push(['_setCustomVar', 1, 'Logged in', #{ current_user.blank? ? "'no'" : "'yes'" }, 2]);
  _gaq.push(['_setCustomVar', 2, 'Member', #{ current_user.blank? ? "'no'" : "'yes'" }, 1]);
  _gaq.push(['_setCustomVar', 3, 'Join month', #{ current_user.blank? ? "'0'" : "'#{current_user.created_at.month}'" }, 1]);
  _gaq.push(['_setCustomVar', 4, 'Join year', #{ current_user.blank? ? "'0'" : "'#{current_user.created_at.year}'" }, 1]);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
