!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:id => body_id}
    %header
      .container
        .full-col
          %h1= link_to "pure.tv", channels_path
          %nav.menu
            %ul
              - if logged_in?
                %li= link_to 'logout', logout_path 
              - else
                %li= link_to 'login', login_path
                %li= link_to 'join', register_path
                
                
    %section
      #content
        .container
          = yield
    %footer
      .container
        .full-col
