!!!
%html
  %head
    %title= title
    %link{ :rel => "shortcut icon", :href => "/assets/fallback/thumb_favicon_default.jpg", :type => "image/x-icon"}
    = render "layouts/meta"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "layouts/analytics"

  %body#flipside{:class => body_id}
    = render "layouts/facebook"
    #stage
      .container
        %header.clearfix
          %h1= link_to "mosey", manage_channel_path(current_user.primary_channel)
          %nav.session
            %ul
              %li
                = link_to feed_path do
                  %i.watch-moziy-button
              - if logged_in?
                %li.stream-selector.dropdown.clearfix
                  %i.header-more.dropdown-toggle
                  .stream-name.dropdown-toggle
                    - if @channel.present?
                      = "/#{@channel.slug}"
                    - else
                      = "your channels"
                  %ul.submenu
                    - current_user.managing_channels.each do |channel|
                      %li.channel-item.menu-item
                        = link_to manage_channel_path(channel) do
                          = image_tag channel.cover_art_url(:thumb_favicon), width: 16, height: 16
                          = "/#{channel.slug}"
                    %li.menu-item= link_to "Create a New Stream", new_manage_channel_path
                %li
                  = link_to manage_settings_path do
                    -#Settings
                    %i.header-settings
                %li
                  = link_to logout_path do
                    -#Log out
                    %i.header-logout
              - else
                %li= link_to 'Log in', login_path
                %li= link_to 'Join', root_path
        %section#main
          %section#sidebar
            - if content_for? :sidebar
              = content_for :sidebar
            %ul.sidebar-menu.clearfix
              %li{:class => current_page?(manage_likes_path) ? "active" : "" }
                = link_to manage_likes_path, :class => "primary" do
                  %span.count= current_user.likes.count
                  = "Likes"
              %li{:class => current_page?(manage_following_path) ? "active" : "" }
                = link_to manage_following_path do
                  %span.count= current_user.following_channels.count
                  = "Following"
          %section#main-content
            = yield

    :javascript
      $(document).ready(function() {
        $(".dropdown-toggle").dropdown();
      });

