!!!
%html
  %head
    %title= title
    %link{ :rel => "shortcut icon", :href => "/assets/fallback/thumb_favicon_default.jpg", :type => "image/x-icon"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body#flipside{:class => body_id}
    %header
      %h1= link_to "mosey", root_path
      %nav.menu
        %ul.clearfix
          - if logged_in?
            %li{:class => current_page?(explore_path) ? "active" : "" }= link_to "All Channels", explore_path
            %li{:class => current_page?(manage_channels_path) ? "active" : "" }= link_to "Manage", manage_channels_path
            %li{:class => current_page?(new_manage_channel_path) ? "active" : "" }= link_to 'Build a Channel', new_manage_channel_path, :class => "button"
          - else
            %li{:class => current_page?(new_manage_channel_path) ? "active" : "" }= link_to 'Build a Channel', new_manage_channel_path, :class => "button"
      %nav.session
        %ul
          - if logged_in?
            %li= link_to 'Log out', logout_path 
          - else
            %li= link_to 'Log in', login_path
            %li= link_to 'Join', root_path
    %section#content
      = yield
