!!!
%html
  %head
    %title= title
    %link{ :rel => "shortcut icon", :href => "/assets/fallback/thumb_favicon_default.jpg", :type => "image/x-icon"}
    = render "layouts/meta"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "layouts/analytics"

  %body#flipside{:class => body_id}
    = render "layouts/facebook"
    #remote-control-pane
      %ul#my-channels.sidebar-menu.light
        %li.title.menu-item.strong= "Watch Streams"
        = render partial: "layouts/application/sidebar_channel_item",
            collection: @channels,
            as: :channel
    #stage
      .container
        %header.clearfix
          %h1= link_to "mosey", manage_channel_path(current_user.primary_channel)
          %nav.session
            %ul
              - if logged_in?
                %li= link_to 'Settings', manage_settings_path
                %li= link_to 'Log out', logout_path
              - else
                %li= link_to 'Log in', login_path
                %li= link_to 'Join', root_path
        %section#main
          %section#sidebar
            - if content_for? :sidebar
              = content_for :sidebar
            %ul#menu-options.sidebar-menu
              %li.menu-item
                = link_to manage_likes_path do
                  %i.like
                  = "Liked #{current_user.likes.count} Videos"
            %ul.sidebar-menu
              - for channel in (current_user.managing_channels - [@channel])
                %li.menu-item
                  = link_to manage_channel_activities_path(channel) do
                    = image_tag channel.cover_art_url(:thumb_favicon), width: 18, height: 18
                    = "/#{channel.slug}"
              %li.menu-item= link_to "Create a New Stream", new_manage_channel_path
          %section#main-content
            = yield
