!!!
%html
  %head
    %title= title
    %link{ :rel => "shortcut icon", :href => "/assets/fallback/thumb_favicon_default.jpg", :type => "image/x-icon"}
    = render "layouts/meta"
    = stylesheet_link_tag    "player"
    = javascript_include_tag "player"
    = csrf_meta_tags
    = render "layouts/analytics"

  %body#stage{:class => body_id}
    = render "layouts/facebook"
    = yield
