!!!
%html
  %head
    %title= title
    %link{ :rel => "shortcut icon", :href => "/assets/fallback/thumb_favicon_default.jpg", :type => "image/x-icon"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "layouts/analytics"
  %body#flipside{:class => body_id}
    .container
      %header.clearfix
        %h1= link_to "mosey", root_path
        %nav.session
          %ul
            - if logged_in?
              %li= link_to 'Log out', logout_path
            - else
              %li= link_to 'Join', register_path
              %li= link_to 'Log in', login_path
      %section#main
        - flash.each do |key, value|
          .flash.alert.alert-{:class => key} #{value}
        = yield
